@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.body {
    min-height: 100%;
    font-family: 'Rubik', sans-serif;
}

.container-fluid {
    text-align: center;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    font-family: 'Rubik', sans-serif;
}

.container-fluid-reviews {
    text-align: left;
}

.display-3 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 3rem;
    font-family: 'Rubik', sans-serif;
}

hr {
    border: 1px solid grey;
}

.home-text {
    font-family: 'Rubik', sans-serif;
}

.welcome-para {
    margin-top: 0px;
    margin-bottom: 3rem;
    font-family: 'Rubik', sans-serif;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.bg {
    background-image: url(../images/bg-image.png);
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 0px;
}

.jumbo-text {
    color: #000;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
}

.btn-home {
    font-weight: bold;
    min-width: 250px;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
}


.media {
    font-weight: bolder;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
    font-weight: bolder;
}

.fixed-bottom {
    background-color: #343a40;
    color: #fff;
}




/*
