{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 text-dark welcome-text">
            <h1><strong>Are we missing a gym?</strong></h1>
            <p><strong>Add that gym's details here!</strong></p>
        </div>
    </div>
    <!-- Form adapted from Bootstrap -->
    <div class="row row-form justify-content-center">
        <div class="col-12 col-md-5">
            <!-- Form fields -->
            <form action="{{url_for('insert_gym')}}" method="POST" class="form_font">
                <div class="form-group font-weight-bolder">
                    <label for="gym_name">Gym Name: </label>
                    <textarea class="form-control" id="gym_name" name="gym_name" rows="1" required></textarea>
                </div>
                <div class="form-group font-weight-bolder">
                    <label for="status">Gym Type</label>
                    <select class="form-control" id="status" name="status">
                        <option value="" disabled selected>Select Type</option>
                        <option>Personal Training</option>
                        <option>Weightlifting</option>
                        <option>Fitness Classes</option>
                        <option>Gym and Pool</option>
                    </select>
                </div>
                <div class="form-group font-weight-bolder">
                    <label for="address">Gym Address</label>
                    <textarea class="form-control" id="address" name="address" rows="10" required></textarea>
                </div>
                <div class="form-group font-weight-bolder">
                    <label for="access">Membership Cost</label>
                    <select class="form-control" id="access" name="access">
                        <option value="" disabled selected>Select Option</option>
                        <option>Expensive</option>
                        <option>Average</option>
                         <option>Affordable PAYG Option</option>
                    </select>
                </div>
                <div class="form-group font-weight-bolder">
                    <label for="gym_url">Gym Website: </label>
                    <textarea class="form-control" id="gym_url" name="gym_url" rows="3"
                        required></textarea>
                </div>
                <!-- Send button -->
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}